@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<h2>Đặt hàng thành công!</h2>
<p>Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đã được ghi nhận.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-success">Tiếp tục mua sắm</a>
